/* colors */
:root {
  --clr-dark: #011813;
  --clr-light: #d1fae5;
  --clr-emerald400: #34d399;
  --clr-emerald600: #059669;
  --clr-emerald800: #115e59;
  --clr-orange: #9a3412;
  --clr-cyan: #155e75;

  /* orange rgb(157, 23, 77) */
  /* cyan rgb(21, 94, 117)  */

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

* {
  margin: 0;
  line-height: calc(1em+0.5rem);
}

html {
  scroll-behavior: smooth;
}

.light-mode {
  --clr-light: #011813;
  --clr-dark: #e9e9e9;
  --clr-emerald400: #115e59;
  --clr-emerald600: #115e59;
  --clr-emerald800: #115e59;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a {
  color: var(--clr-pink);
}

strong {
  color: var(--clr-cyan);
}
